<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container main-content">
	<div class="col-sm-offset-3 col-sm-6 center white-bg layered-paper">
    	<h1 class="default-header">Login</h1>
        
        <div class="onboarding-hr">
        	<ul>
            	<li></li>
                <li></li>
            </ul>
        </div>
    
    
  

<div class="registration-form">

<div class="col-sm-12">
                <form class="form" name="form" ng-submit="commit(form)" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="sr-only" for="email">E-mail</label>
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user input-icon-overlay"></span></div>
                            <input type="email" name="email" placeholder="Email" class="form-control input-styles" ng-model="user.email" required>
                            </div><!-- input group -->
                    </div><!-- form group -->
                    <div class="form-group">
                        <div class="input-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close input-icon-overlay"></span></div>
                            <input type="password" name="password" placeholder="Password" class="form-control input-styles" ng-model="user.password" required>
                        </div><!-- input group -->
                    </div><!-- form group -->
                    <div class="form-group has-error">
                        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                            Please enter your e-mail and password.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.email && submitted">
                            Invalid e-mail.
                        </p>
                        <p class="help-block">{{ errors.other }}</p>
                    </div> <!-- error form group -->
                    
                    
                    
                        <button class="btn btn-danger btn-login" type="submit">Login</button>
                        <a class="btn btn-success btn-register" href="/signup">Register</a>
                        
                       
                    
                </form>
            </div> <!-- sm-12 -->

</div><!-- registration form -->

</div><!-- col-sm-6-->

</div><!-- container -->


