<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container main-content">
	<div class="col-sm-offset-2 col-sm-8 center white-bg layered-paper">
		<h1 class="default-header">Gaheen Jewel Physician Questionnaire</h1>
		<div class="onboarding-hr">
			<ul>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="col-sm-12">
			<h4 class="lead center lead-margin">Provide some information on your practice.</h4>
		</div>
		<div class="registration-form">
			<div class="col-sm-12">
				<form class="form" name="form" ng-submit="commit(form)" novalidate>
					<div class="form-group" ng-class="{
						'has-success': form.description.$valid && submitted,
						'has-error': form.description.$invalid && submitted
					}">
						<div class="input-group">
							<label class="sr-only" for="description">Description</label>
							<div class="input-group-addon"><span class="glyphicon glyphicon-comment input-icon-overlay"></span></div>
							<textarea name="description" class="form-control input-styles" placeholder="Description" rows="3" ng-model="user.description" required></textarea>
							<p class="help-block" ng-show="form.description.$error.required && submitted">
								Description is required.
							</p>
						</div>
					</div>
					<div class="form-group" ng-class="{
						'has-success': form.missionStatement.$valid && submitted,
						'has-error': form.missionStatement.$invalid && submitted
					}">
						<div class="input-group">
							<label class="sr-only" for="missionStatement">Mission Statement</label>
							<div class="input-group-addon"><span class="glyphicon glyphicon-comment input-icon-overlay"></span></div>
							<textarea name="missionStatement" class="form-control input-styles" placeholder="Mission Statement" rows="5" ng-model="user.missionStatement"></textarea>
						</div>
					</div>
					<p class="help-block">{{ message }}</p>
					<div class="center">
						<button class="btn btn-lg btn-danger btn-continue" type="submit">Save &amp; Continue</button>
					</div>
					<!-- center -->
				</form>
			</div>
		</div>
	</div>
</div><!-- container -->
