.navbar{
	margin-bottom: 0 !important;}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #727272;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #FFF;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

section {
	display: block;
	padding: 55px 0 55px 0;
	min-height: 450px;
	}
	
	#movement {
		background: #FFF;
		}
		
		
	#main-slider {
			padding: 0 !important;
			min-height: 0 !important;
			} 

#social {
	background: #24c668;
	}
	
	.footer-homepage {
		margin-top: 0 !important;}
		
		.homepage-lead {text-align: justify !important;}