<div class="col-lg-12 notification-div" ng-controller="DashboardNotificationsCtrl">
	<h4>Notifications (6)</h4>
	<hr/>
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-3 col-lg-offset-1 small-img">

			</div>
			<div class="col-lg-8">
				<h5>HARBORSIDE COLLECTIVE</h5>
				<p>Has sent you a product recommendation.</p>
				<span class="glyphicon glyphicon-time time-stamp"></span>
				<span class="time-stamp">Yesterday at 12:15 PM</span>
			</div>
		</div>
		<hr/>
	</div>
</div>
