<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	
		<div class="seperator-1">
			<h1 class="default-header">Gaheen Jewel Registration</h1>
		</div>
        
        <div class="col-sm-12">
        	<h4 class="lead center">To get started, please verify your medical marijuana eligibility.</h4>
         </div>
         
         </div><!-- container -->
        
		<div class="container registration-form">
            
            <div class="col-sm-12">
                <form class="form" role="form" name="form" ng-submit="commit(form)" novalidate>
                    <div class="form-group" ng-class="{
                            'has-success': form.firstName.$valid && submitted,
                            'has-error': form.firstName.$invalid && submitted
                        }">
                        <div class="input-group">
                        <label class="sr-only" for="firstName">First Name</label>
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user input-icon-overlay"></span></div>
                        <input type="text" name="firstName" placeholder="First Name" class="form-control input-styles" ng-model="user.firstName" required />
                        <p class="help-block" ng-show="form.firstName.$error.required && submitted">
                            First name is required.
                        </p>
                        
                        </div><!-- input group -->
                    </div><!-- form group -->
                    
                    <div class="form-group" ng-class="{
                            'has-success': form.lastName.$valid && submitted,
                            'has-error': form.lastName.$invalid && submitted
                        }">
                        
                        <div class="input-group">
                        <label class="sr-only" for="lastName">Last Name</label>
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user input-icon-overlay"></span></div>
                        <input type="text" name="lastName" placeholder="Last Name" class="form-control input-styles" ng-model="user.lastName" required />
                        <p class="help-block" ng-show="form.lastName.$error.required && submitted">
                            Last name is required.
                        </p>
                        </div><!-- form group -->
                    </div><!-- form group-->
                    
                    
                    <div class="form-group" ng-class="{
                            'has-success': form.email.$valid && submitted,
                            'has-error': form.email.$invalid && submitted
                        }">
                        <div class="input-group">
                            <label class="sr-only" for="email">Email</label>
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope input-icon-overlay"></span></div>
                        <input type="email" name="email" placeholder="E-Mail" class="form-control input-styles" ng-model="user.email" required mongoose-error />
                        <p class="help-block" ng-show="form.email.$error.email && submitted">
                            Invalid e-mail.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.required && submitted">
                            E-mail is required.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.mongoose">
                            {{ errors.email }}
                        </p>
                        
                        </div><!-- input group -->
                    </div><!-- form group -->
                    <div class="form-group" ng-class="{
                            'has-success': form.password.$valid && submitted,
                            'has-error': form.password.$invalid && submitted
                        }">
                        
                        <div class="input-group">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close input-icon-overlay"></span></div>
                        <input type="password" name="password" placeholder="Password" class="form-control input-styles" ng-model="user.password" ng-minlength="3" required mongoose-error />
                        <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                            Password must be at least 3 characters.
                        </p>
                        <p class="help-block" ng-show="form.password.$error.mongoose">
                            {{ errors.password }}
                        </p>
                        
                        </div><!-- input group -->
                    </div><!-- form group -->
                    <div class="form-group" ng-class="{
                            'has-success': form.verifyPassword.$valid && submitted,
                            'has-error': form.verifyPassword.$invalid && submitted
                        }">
                        <div class="input-group">
                        <label class="sr-only" for="verifyPassword">Verify Password</label>
                        <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close input-icon-overlay"></span></div>
                        <input type="password" name="verifyPassword" placeholder="Verify Password" class="form-control input-styles" ng-model="verifyPassword" match="user.password" required />
                        <p class="help-block" ng-show="form.verifyPassword.$error.match">
                            Passwords do not match.
                        </p>
                        </div><!-- input group -->
                    </div><!-- form group -->
                    <div class="center">
                        <button class="btn btn-danger btn-lg btn-login" type="submit">Sign up</button>
                        <a class="btn btn-success btn-lg btn-register" href="/login">Login</a>
                    </div>
                </form>
            </div>
            
           
            
            </div><!-- container -->
	
	<hr>

