<div class="col-lg-12 medical-conditions-div" ng-controller="MedicalconditionsCtrl">
	<span class="glyphicon glyphicon-folder-open"></span>
	<span>Medical Conditions</span>
	<span class="glyphicon glyphicon-plus"></span>
	<hr/>
	<p>
		<span>Muscle Spasms (1) </span> <span class="glyphicon glyphicon-chevron-down"></span>
	</p>
	<hr/>
	<p>
		<span>Chronic Back Pains (1) </span><span class="glyphicon glyphicon-chevron-down"></span>
	</p>
	<hr/>
	<p>
		<span>Anxiety (2)</span><span class="glyphicon glyphicon-chevron-up"></span>
		<ul class="list-unstyled">
			<li>Adderall (25 mg)</li>
			<li>Cymbalta (10 mg)</li>
			<li><a href="#">+ Another Medication</a></li>
		</ul>
	</p>
	<hr/>
	<p>
		<span>Spinal Injury (7) </span><span class="glyphicon glyphicon-chevron-down"></span>
	</p>
	<hr/>
	<p>
		<span>Appetite Loss (0) </span><span class="glyphicon glyphicon-chevron-down"></span>
	</p>
	<hr/>
</div>
